@font-face {
    font-family: 'SegoeUI-SemiBold';
    src: url('fonts/seguisb.eot');
    src: url('fonts/seguisb.eot?#iefix') format('embedded-opentype'),
         url('fonts/seguisb.woff') format('woff'),
         url('fonts/seguisb.ttf') format('truetype'),
         url('fonts/seguisb.svg#seguisb') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI';
    src: url('fonts/segoeui.eot');
    src: url('fonts/segoeui.eot?#iefix') format('embedded-opentype'),
         url('fonts/segoeui.woff') format('woff'),
         url('fonts/segoeui.ttf') format('truetype'),
         url('fonts/segoeui.svg#segoeui') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-role=page]{
    height: 100% !important;
    position:relative !important;
    /*background-image: url("../img/Bokehbg.jpg");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

[data-role=footer]{
    bottom:0;
    position:absolute !important;
    top: auto !important;
    width:100%;
}

input[type='text']{
    background-color: black;
    border: 5px solid #000000;
    padding: 80px 0;
    margin: 50px;
}

a:hover, a:active{
    text-decoration: none;
}

.centerwidth{
    width: 78%;
}
.centerstuff{
    margin:0 0 0 20%;
}

